@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Caveat:wght@500&family=Dancing+Script:wght@500;600&family=Libre+Barcode+39&family=Libre+Baskerville&family=Nosifer&family=Nothing+You+Could+Do&family=Noto+Sans&family=Pacifico&family=Press+Start+2P&family=Sirin+Stencil&family=Tiro+Telugu&family=Yuji+Hentaigana+Akari&family=Yuji+Syuku&display=swap');

body{
    margin: 0;
    background-color: black;
    color: white;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 70px;
    width: 100%;
    border: 1px solid white;
}
.left_bar{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    text-align: center;
    align-items: center;

}
.right_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;   
}
.a-element{
    padding: 20px;
    /*border: 2px solid red;*/
    text-decoration: none;
    margin: 5px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.home{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     height: 85vh;
     /*border: 2px solid red;*/
     animation: fadeInScale 1s ease-out forwards;
}
.home-left{
    width: 120vh;
    padding: 25px;
    text-align: right;
    
}
.home-right{
    width: 80Vh;
    margin-left: 40px;
}
.img{
    height: 523.125px;
    width: 351px;
    padding-left: 100px;
}
.logo{
    width: 50px;
    height: 50px;
    padding: 10px;
    padding-left: 30px;
}
.home-h1{
    font-family:'Press Start 2P';
    font-size: 50px;
    color: #FFC317;
}
.home-p{
    font-family: 'Nothing You Could Do';
    font-size: 18px;
}
.title{
    font-size: 25px;
    padding: 5px;
}
footer{
    background-color: rgb(27, 25, 25);
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer-text {
    margin-left: 20px;
    font-size: 16px;
}
footer a {
    color: rgb(137, 238, 176);
    text-decoration: none;
}
.home-left:hover{
    background-color: rgb(51, 47, 47);
}
.sign{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 50px;
    margin-bottom: 50px;
    font-family: 'Nothing You Could Do';
}
.a-element:hover{
    color: red;
    border-bottom: 2.5px solid rgb(31, 123, 197);
}
.services{
    padding: 30px;
    margin-top: 100px;
}
.sub-h1{
    color: rgb(75, 185, 75);
    font-family: 'Libre Baskerville';
    text-align: center;
    letter-spacing: 3px;
}
.ser-sub-cont{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ser-card{
    margin: 20px;
    border: 2px solid rgb(106, 197, 106);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.ser-h1{
    font-family: 'Yuji Syuku';
    font-size: 40px;
    letter-spacing: 2.5px;
    font-style: italic;
    color: #CCFF90 ;
}
.ser-p{
    font-family: 'Caveat';
    font-size: 25px;
}
.ser-card:hover{
    background-color: rgb(51, 47, 47);
}
.contact{
    padding: 40px;
    margin-top: 100px;
}
.con-sub-h1{
    text-align: center;
    color: rgb(75, 185, 75);
    letter-spacing: 3px;
    font-size: 40px;
}
.contact-sub-cont{
    border: 2px solid #FFEB3B;
    width: 500px;
    justify-content: center;
    margin-left: 650px;
    margin-top: 100px;
    padding: 30px;
    border-radius: 10px;
}
.con-h1{
    font-family: 'Yuji Syuku';
    font-size: 40px;
    letter-spacing: 2.5px;
    font-style: italic;
    color: #CCFF90 ;   
}
.con-p{
    font-family: 'Caveat';
    font-size: 25px;
}
ul li {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.con-a{
    padding: 20px;
    /*border: 2px solid red;*/
    text-decoration: none;
    margin: 5px;
    color: rgb(137, 238, 176);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold; 
}
.contact-sub-cont:hover{
    background-color: rgb(51, 47, 47);
}
.arduino{
    width: 200px;
    height: 200px;
}



@media screen and (max-width: 768px) {
    body{
        max-width: 100%;
        overflow-x: hidden;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: auto;
    }

    .right_bar {
        margin-top: 20px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
    }

    .home-left,
    .home-right {
        width: 100%;
        text-align: center;
    }

    .img {
        width: 80%;
        height: auto;
        padding: 0;
    }

    .logo {
        padding: 10px 0;
    }

    .services,
    .contact {
        margin-top: 50px;
    }

    .ser-sub-cont,
    .contact-sub-cont {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .ser-card,
    .con-card {
        width: 80%;
        margin: 20px 0;
    }
    .contact-sub-cont {
        padding: 0;
        margin: 0;
    }
    .con-card {
        padding: 20px;
    }
    .a-element{
        padding: 10px;
    }
}